:host {
  display: block;
}
.container {
  .caption {
    display: flex;
    align-items: center;
    line-height: 1;
    color: #666;
    .name {
      margin-right: 30rpx;
    }
    .button {
      background: #eee;
      width: 1em;
      height: 1em;
      margin: 0 10rpx;
      line-height: 1;
      text-align: center;
    }
  }
  .caption.parent {
    font-weight: bold;
    color: #000;
  }
  todo {
    padding-left: 64rpx;
  }
}

.container.close {
  height: 1em;
  overflow: hidden;
}