/**index.wxss**/
page {
  display: block;
  height: 100%;
}
.container {
  padding: 20rpx;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.8;
  height: 100%;
  .todos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40rpx;
    font-size: 48rpx;
  }
 .buttons {
   margin-top: 20rpx;
   display: flex;
   button {
     margin: 0 10rpx;
   }
 }
}

.setting {
  position: fixed;
  left: 20rpx;
  top: 20rpx;
  font-size: 56rpx;
}

.green {
  background: lightgreen;
}

.red {
  background: lightcoral;
}

.yellow {
  background: lightyellow;
}