/* pages/settings/settings.wxss */
.container {
  padding: 20rpx;
  todo {
    margin: 20rpx 0;
  }
  .buttons {
    display: flex;
    justify-content: center;
    margin-top: 50rpx;
    font-size: 32rpx;
  }
}